@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Contoso University MVC</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Добро пожаловать в Университет University MVC</h2>
        <p>
            Университет Contoso - это пример приложения, демонстрирующий использование Entity Framework Core в веб-приложении ASP.NET Core 3.1 MVC.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Сделайте это приложение с нуля</h2>
        <p>Вы можете создать приложение, выполнив шаги из руководства. Пока доступна только версия для Core 2.0.</p>
        <p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">Руководство для Core 2.0 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Скачать это</h2>
        <p>Вы можете скачать готовый проект с GitHub для версии Core 2.0/.</p>
        <p><a class="btn btn-default" href="https://github.com/aspnet/AspNetCore.Docs/tree/master/aspnetcore/data/ef-mvc/intro/samples/cu-final">See project source code Core 2.0 &raquo;</a></p>
    </div>
</div>